
.sidebar {
    position: absolute;
    left: 0;
    width: 15%;
    font-size: 80%;
    background-color: #f1f1f1;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        width: 100%;
    }

    .sidebar-section {
        text-decoration:none;
        border: 1px solid #ddd;
        margin-top: -1px; /* Prevent double borders */
        background-color: #383838;
        padding: 12px;
        font-size: 18px;
        color: white;
        display: block;
        position: relative;
        font-weight: bolder;
    }

    .sidebar-element {
        border: 1px solid #ddd;
        margin-top: -1px; /* Prevent double borders */
        background-color: #f6f6f6;
        padding: 12px;
        padding-left: 36px; /* Indicate that it belongs to a section */
        text-decoration: none;
        font-size: 18px;
        color: #383838;
        display: block;
        position: relative;
    }

    .selected {
        background-color: #f76908;
        color: white;
    }

    .double-padding {
        padding-left: 48px;
    }

    .sidebar-section:hover {
      background-color: #f59b5e;
      color: white;
    }

    .sidebar-element:hover {
       background-color: #f59b5e;
       color: white;
    }

}

/*--Responsiveness--*/

@media (min-width: 1200px) {

}

@media (max-width: 1200px) {
    .sidebar {
        position: relative;
        width: calc(100% - 40px);
    }

}