---
layout: default
---

<article {% if page.feature-img %}class="feature-image"{% endif %}>
    <header id="main" style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
        <h1 id="{{ site.theme_settings.title }}" class="title">
        {{ site.theme_settings.title }}
        </h1>

        {% if site.theme_settings.header_text %}
        <h2 class="subtitle">{{ site.theme_settings.header_text }}</h2>
        {% endif %}
    </header>
    <section class="post-content">
        {% if page.bootstrap %}
        <div class="bootstrap-iso">
            {% endif %}
            {{ content }}
            {% if page.bootstrap %}
        </div>
        {% endif %}
</div>
</article>